#pun .topic .post.hvRemovedPost {
    display: none !important;
}

#pun .topic .post.hvHiddenPost .container {
    display: none;
}

#pun .topic .post.hvHiddenPost.hvShow .container {
    display: block;
}

#pun .topic .post.hvHiddenPost .hvHiddenSpoiler {
    box-sizing: border-box;
    padding: 8px 16px;
    margin: 8px 0;
    margin-left: auto;
    border: 1px solid gray;
    border-radius: 16px;
}
