:root {
    --bg-color: #fff;
    --color-primary: #0C2028;
    --width: 860px;
}

body {
    margin: 0;
}

header {
    background: #8BA2A6;
    color: #22272b;
    overflow: hidden;
    padding: 12px 0;
}

header .logo {
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 16px;
}

header .logo img {
    max-width: 100%;
}

header h1 {
    margin: 0;
}

header a {
    color: #0C2028;
}

.main {
    max-width: var(--width);
    margin: auto;
    padding: 0 0 10px;
}

main {
    max-width: var(--width);
    margin: auto;
    padding: 24px;
}

.button.small {
    padding: .3em;
}

@media (prefers-color-scheme: dark) {
    :root {
        --font-color: #c0cad4;
        --bg-color: #22272b;
        --color-primary: #8BA2A6;
    }
}
