.blackList {
    margin: 0;
    list-style: none;
    padding: 0;
}

.blackList ul {
    padding: 0;
}

.blackList li {
    padding: 12px 16px;
    list-style: none;
}

.blackListBoardItem {
    border: solid 1px;
    border-width: 1px 0 0;
    background: #8BA2A633;
}

.blackList .blackListForum {
    margin: 0 0 16px;
}

.blackList .blackListForumItem {
    padding: 4px 16px 4px 32px;
    background: #8BA2A611;
}

.blackList .blackListUsers {
    margin: 0 0 8px;
}

.blackList .blackListUserItem {
    padding: 4px 16px 4px 48px;
    position: relative;
}
.blackList .blackListUserItem:hover {
    background: #8BA2A611;
}

.blackListRemoveItem {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: "Courier New", sans-serif;
    padding: 2px;
    border: solid 1px;
    float: right;
}