:root {
    --bg-color: #e8eced;
    --color-primary: #0C2028;
    --width: 860px;
}

.button.small {
    padding: .3em;
}

@media (prefers-color-scheme: dark) {
    :root {
        --font-color: #c0cad4;
        --bg-color: #22272b;
        --color-primary: #8BA2A6;
    }
}